.container {
  margin: 12px;
}

.title {
  margin-top: 0;
}

.eventContainer {
  background: var(--foreground);
  color: var(--foreground-text);
  border-radius: 8px;
  padding: 12px;
  margin: 12px 0;
}