.container {
  margin: 12px;
  display: flex;
}

.activityContainer {
  flex: 1;
}

.title {
  margin-top: 0;
}

.eventContainer {
  margin: 12px 0;
  border-radius: 8px;
}

.activeEvent {
  border: 1px solid var(--primary);
}