.container {
  width: 450px;
  margin-left: 12px;
  position: relative;
}

.thumbnail {
  width: 450px;
  height: 426px;
  background: grey;
  border-radius: 8px;
  object-fit: contain;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 8px;
  background: none;
  border: 0;
  color: var(--foreground-text);
  font-size: 24px;
  cursor: pointer;
}